<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1>Play Ground!</h1>

    <h3> For loop </h3>
    <ul>
      <% for (var i = 0; i <6; i++){ %>
        <li><%= i %></li>
        <% } %>
      </ul>
      
      <h3> If / Else </h3>
    <% if (true) { %>
    <h1>Its true</h1>
    <% } else { %>
    <p>It's false...</p>
    <% } %>
  </body>
</html>
